@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Poppins:wght@200;300;400&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
.intro-h3,
footer h3 {
  font-family: "Poppins", sans-serif;
  background-color: #fffaf8;
}
.intro-h3,
footer h3 {
  font-weight: 400;
}
.intro-h3 {
  font-size: 30px;
  color: #441e21;
}
.nav-logo {
  width: 200px;
  height: 200px;
  margin-top: -4%;
}
.nav-ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  width: 400px;
  text-align: center;
}

li a {
  display: block;
  text-align: center;
  padding: 40px 10px 14px;
  text-decoration: none;
}
li a,
.fa-right-long,
.explore-h3 {
  color: #2b2b28;
}
li {
  display: table-cell;
  position: relative;
}

.nav-link {
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 15px 0;
  position: relative;
}
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #e57737;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-ul a:hover {
  color: #e57737;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}
#introduction {
  background-position: center;
  height: 115vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: -10% auto 0;
}
#about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 3%;
}
.project-p {
  padding-top: 15px;
  width: 100%;
  margin: 5% auto 5%;
  font-size: large;
}
p.project-p a {
  text-decoration: dashed;
  color: #b52744;
}
p.project-p a:hover {
  color: #e57737;
}
#introduction,
.project-p,
.ExploreMore,
#alxVideo,
.alx-a,
#pitch {
  text-align: center;
}
#alxVideo {
  margin-bottom: 5%;
  margin-top: -7%;
}
.alx-image {
  width: 50%;
  margin: auto;
}
a.alx-slide-link {
  text-decoration: none;
  margin: auto;
  color: #5f8652;
}
a.alx-slide-link:hover {
  font-weight: bolder;
}
h1,
.intro-h2,
h3,
.about-h2,
h2,
.problems-h2,
#wireframe h2,
footer h2,
.project-p,
.corporateQuote,
.about-quote {
  font-family: "Playfair Display", serif;
}
h1 {
  font-weight: 600;
  font-size: 50px;
  color: #253120;
}
h2 {
  font-weight: 300;
  font-size: 35px;
}
.intro-h2 {
  text-align: center;
  margin-bottom: 5%;
}
.about-h2 {
  font-size: 40px;
}
.introImage {
  width: 500px;
  height: auto;
}
.introImage2 {
  width: 600px;
}
.main-logo {
  margin-top: -2%;
  width: 150px;
  height: 150px;
}

.intro2 {
  text-align: center;
  margin: auto;
}

.about1 {
  width: 40%;
  margin-left: 20%;
}
.about2 {
  width: 60%;
}
.about-img {
  width: 700px;
  margin-top: -100px;
}
.mindMap-h2,
.interiorCenter h2 {
  margin-top: 10%;
}
.corporateQuote {
  color: #5f8652;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin: 10% auto 0;
  width: 70%;
}
.about-quote {
  color: #b8463d;
  font-size: larger;
  margin: 10% 0 10%;
}
.skillsImg {
  width: 100%;
}
.project-grid {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 30px;
  margin-right: 0;
}
#projects {
  margin: 10% auto 0;
  width: 70%;
}
.projects-text {
  margin-top: 100px;
}

.p-text-img {
  padding-top: -100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1rem;
  max-width: 1380px;
  margin: 0 auto;
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid;
  color: #b8453d86;
  padding: 30px;
}

.tile:nth-child(1) {
  grid-column: span 6;
  grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3) {
  grid-column: span 3;
}

.tile:nth-child(4),
.tile:nth-child(5) {
  grid-column: span 3;
}

#skills {
  padding-bottom: 2%;
  width: 100%;
}
.tools-row,
.about-h2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-row {
  width: 100%;
  margin: 0;
}
.skills-span,
.Corpwebsite,
.screening-row,
.interview-row,
#interiorInterviews {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
#ngb-reflection,
#ngb-app,
#Newgen-ResearchActiv {
  margin: 10% auto 10%;
}
.screening-col,
.interview-col {
  width: 50%;
}
.interiorIntCol {
  width: 40%;
}
.interiorWebCol {
  width: 50%;
}
.interiorInterview {
  margin: auto;
}
#screening,
#interview {
  margin-top: 10%;
}

#Plan-ebg h2,
#ebg-design h2,
#ebg-wireframe h2,
#ebg-website h2 {
  margin-top: 15%;
}
.Nscreening,
.Ninterview,
.interiorInterview {
  width: 500px;
  height: auto;
}

.interiorPersona {
  width: 100%;
  display: block;
  margin: auto;
}
.designCol {
  width: fit-content;
  margin: 2% 5% 2% 5%;
}
.webDesignCol {
  width: 45%;
}

.fa-genderless {
  margin: 20px 15px 0;
  color: #b2db9c;
}
#tools {
  width: 100%;
}
.tool-col {
  padding: 30px;
}
.tools-Img {
  width: 50%;
  margin: 0;
}
ol li,
.tool-col,
.footer-col1,
footer form,
.corporateAudience ul,
.corporateImpact ul,
.corporateCosts ul,
.Summary-Solution ul,
.corporateWebsite ul,
.siteLinks,
.ebg-siteLinks,
.swadbrief-text ul,
.swadWireframe-text ul,
#Newgen-ResearchActiv ul,
#Newgen-Intro ul,
#interiorIntro ul,
#interiorResearch ul,
.interiorWebCol ul,
.ebg-text ul,
.ebg-ul,
#Plan-ebg ul,
.interiorCenter ul,
.interior-siteLinks,
#CorpApp ul,
.ngb-text ul {
  display: flex;
  flex-direction: column;
}
#CorpApp ul {
  padding: 5% 0 5%;
}
.swadWireframe-text ul,
.interiorWireframeDiv ul {
  text-align: center;
}
.fa-arrow-down {
  color: #c80036;
  margin: 5px 0 5px;
}
.corp-arrow {
  color: #b1d182;
}
.newgenArrow {
  color: #055099;
  margin: 10px auto 10px;
}
.interiorArrow {
  color: #b36ab3;
  margin: 10px auto 10px;
}
.tool-icon {
  width: 30px;
  height: auto;
  margin: auto;
}
hr {
  width: 70%;
}

#tools-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#corporateGivers {
  width: 100%;
  margin: 0;
}
.corporationMap {
  margin: auto;
  width: 80%;
}
.researchMap {
  width: 70%;
  display: block;
  margin: auto;
}

.mindmap,
.newBankMap {
  width: 100%;
}
.newBankMap {
  width: 500px;
  display: block;
  margin: auto;
}
.newgenapp {
  width: 700px;
  display: block;
  margin: auto;
}
.corpApp-imgs {
  width: 70%;
  margin: auto;
}
.corp-app {
  width: 100%;
}
.corp-h2 {
  margin-left: 10%;
  padding-bottom: 5%;
}
.projecth2,
.stylingh2 {
  padding-bottom: 5%;
}
h2 {
  padding-bottom: 3%;
}
#ebg-design h2 {
  margin-left: 20%;
}
.CorpwebsiteText {
  margin-top: 8%;
  padding-left: 10%;
}
#swad-Intro {
  margin-bottom: 10%;
}
.corporate-text,
.swad-text,
#CorpApp h2,
#CorpApp p,
.corp-h2,
.interiorCenter,
#ebg-intro,
#Plan-ebg,
#ebg-wireframe,
#ebg-website,
.interiorWireDiv {
  margin: auto;
  width: 60%;
}
#CorpApp ul {
  width: 30%;
  text-align: center;
  margin: auto;
  align-items: center;
}

.ebgwireframe {
  width: 90%;
}
.ebgmindmap {
  display: block;
  margin: auto;
}
.ebgWireframe1,
.ebgWireframe2,
.interiorDesktopWire,
.interiorMobileWire {
  width: 100%;
}
.interiorMobileWire1 {
  width: 75%;
  display: block;
  margin: auto;
}
#interior-reflection {
  margin-bottom: 10%;
}
.ngb-text,
.ngb-text1 {
  margin: auto;
  width: 68%;
}

.ngb-text ul {
  width: 60%;
  margin: 5% auto 5%;
}
.ngb-outcomes ul {
  width: 100%;
  margin: 0;
}
.swad-text,
.competitors-intro {
  margin: 5% auto 5%;
}
.siteLinks a {
  text-decoration: none;
  color: #253120;
  margin-left: 6%;
}
.siteLinks a:hover {
  color: #5f8652;
}
.ebg-siteLinks {
  text-decoration: none;
  color: #004588;
  margin-left: 6%;
}
.ebg-siteLinks:hover {
  color: #15a04a;
}
.interior-siteLinks {
  margin-left: 4%;
  text-decoration: none;
  color: #bb85ab;
}
.interior-siteLinks:hover {
  color: #7a5770;
}
.interiorIpad {
  width: 80%;
}
.corporateLaptop,
.ebgLaptop {
  width: 100%;
}
.CorpwebsiteText,
.CorpwebsiteImg,
.ebgWebsite-col {
  width: 50%;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
.text {
  margin-top: 3%;
  text-align: center;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
#Persona {
  margin-bottom: 20%;
}
#Persona .mySlides {
  margin: auto;
  width: 85%;
  height: 500px;
}
#Persona .mySlides img {
  display: block;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin: -22px -50px 0;
  color: rgb(47, 47, 47);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  color: #762651;
  transform: scale(2);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #070707;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.corporationStyling,
.corporatePresentation,
.corporateUniqueness,
.Summary-Solution,
.corporateReach,
.corporateImpact,
.corporateAudience,
.corporationMap,
.corporateReflection {
  margin: 10% auto 10%;
}
.corporationStyling p {
  width: 50%;
  margin: auto;
  padding-bottom: 5%;
}
.styling-img,
.ebgImg-col {
  width: 250px;
  display: block;
  margin: auto;
}
.corpStyling,
.ebgDesign-row,
.ebgWebsite-row,
.ebgDesign-row,
.interiorWebRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.styleDiv,
.ebgDesign-col {
  width: 33%;
  margin: 0 50px 0;
}
.styleDiv p,
.ebgDesign-col p {
  font-size: 14px;
}
.styleDiv h4,
.ebgDesign-col h4 {
  text-align: center;
}
.swad-logo {
  width: 200px;
  display: block;
  margin: auto;
}
.swadcomp-img,
.swadcomp-text,
.swadbrief-img,
.swadbrief-text {
  width: 100%;
}
.swadbrief,
.competitors-intro {
  margin-bottom: 15%;
}

.swadcomp-text {
  margin: 10% 0 0 5%;
}
.swadComp {
  width: 500px;
  display: block;
  margin: auto;
}
.swadCellHighFrame,
.swadDeskHighFrame {
  width: 100%;
  display: block;
  margin: auto;
}
.swaddesktop {
  width: 600px;
  display: block;
  margin: auto;
}
.swadDesktopwire,
.swadphonewire {
  width: 80%;
  height: auto;
  display: block;
  margin: 10% auto 10%;
}

.explore-nextProject {
  color: #2b2b28;
  text-decoration: none;
}

.feature1,
.feature2,
.feature3,
.feature4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.features-h4 {
  width: 25vw;
  padding-top: 50%;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 100px;
}

.fa-chevron-up {
  border-radius: 50%;
  padding: 10px;
  border: solid;
  color: #b52744;
  border-top-color: #b52744;
  border-right-color: #b52744;
  border-left-color: #b52744;
  border-bottom-color: #b52744;
  background-color: #fffaf8;
}
.fa-chevron-up:hover {
  color: #fffaf8;
  background-color: #b52744;
}
.fa-brands,
.fa-envelope {
  border: solid;
  font-size: 15px;
  background-color: #7e9ac2;
  border-radius: 50%;
  color: #fffaf8;
  padding: 11px 13px;
  margin: 5px;
}

.fa-brands:hover,
.fa-envelope:hover {
  border: solid;
  border-top-color: #7e9ac2;
  border-right-color: #7e9ac2;
  border-left-color: #7e9ac2;
  border-bottom-color: #7e9ac2;
  background-color: #fffaf8;
  color: #7e9ac2;
}

footer {
  padding-top: 10%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}
footer h3 {
  font-size: medium;
}
.footer-img1 {
  width: 600px;
}
.footer-img2 {
  position: absolute;
  right: 0;
  width: 400px;
}
form {
  position: relative;
  width: 400px;
  bottom: -300px;
  right: 0;
}

form input,
form button {
  padding: 10px;
  margin: 7px;
}
form label {
  padding-left: 2%;
  font-size: small;
}
textarea,
input:focus {
  outline-color: #7e9ac2;
}

.form-message,
.form-name,
.form-email {
  border: solid;
  border-top-color: #e5773767;
  border-right-color: #e5773767;
  border-left-color: #e5773767;
  border-bottom-color: #e5773767;
}
.form-message {
  padding: 50px;
  width: 388px;
  margin: 7px;
}

form button {
  color: #fffaf8;
  background-color: #b5274388;
  border: none;
}
form button:hover {
  background-color: transparent;
  color: #b5274388;
  font-weight: 600;
  border: solid;
  border-top-color: #b5274388;
  border-right-color: #b5274388;
  border-left-color: #b5274388;
  border-bottom-color: #b5274388;
}
.footer-col1 {
  width: 50%;
}
.footerCol1-1 {
  padding-left: 12%;
}
.footer-col2 {
  width: 50%;
}

.footer-row {
  margin-bottom: 2%;
  text-align: center;
}

small,
small,
.fa-arrow-up-long,
.footer-p {
  color: #818181ac;
}
.footer-Small {
  position: relative;
  bottom: -280px;
  left: 740px;
}
.project-Small {
  position: relative;
  bottom: 180px;
}
.projectFooter {
  justify-content: center;
  padding-top: 0;
  height: 30%;
}
.footerP-col {
  width: 30%;
  text-align: center;
}
.footerP-col:nth-child(2) {
  margin-top: 80px;
}

.projectFooter-link {
  text-decoration: none;
  padding: 0 20px 0;
  color: #253120;
}

.projectFooter-link:hover {
  color: #762651;
}
.footerImg-pro {
  width: 350px;
}
.footer-logo {
  width: 200px;
}
@media (max-width: 741px) {
  .nav-logo {
    width: 100px;
    height: 100px;
  }
  ul.nav-ul {
    font-size: 13px;
    justify-content: center;
    width: 100%;
    margin-bottom: 55px;
  }

  li a {
    display: block;
    text-align: center;
    color: #2b2b28;
    padding: 20px 10px 14px;
    text-decoration: none;
  }
  #introduction {
    background-image: url("images/intro.png");
    background-position: center;
    height: 80vh;
    background-size: cover;
  }
  h1 {
    font-size: 25px;
  }
  .container {
    display: block;
  }
  .tile {
    margin-bottom: 1rem;
  }
  .footer-Small {
    display: none;
  }
  .project-Small {
    position: relative;
    bottom: -80px;
    left: 15px;
  }
  #about,
  .carousel-text,
  .webDesignCol,
  p.project-p,
  .slider__inner,
  .slider__contents,
  .introImage,
  .introImage2,
  .footer-col1,
  .about1,
  .about2,
  .about-img,
  .CorpwebsiteText,
  .CorpwebsiteImg,
  .styleDiv,
  .swadbrief-text,
  .swadcomp-text,
  .ngb-text,
  .ngb-text1,
  .ebgmindmap,
  .ebgWebsite-row,
  .ebg-text,
  .alx-image img {
    width: 100%;
  }

  .project-p,
  .about1,
  .ebgWebsite-row {
    margin: 0;
  }
  .corporate-text,
  .swad-text,
  .interiorCenter {
    width: 80%;
    margin-bottom: 20%;
  }
  .slideshow-container,
  #alxVideo {
    width: 280px;
  }
  .numbertext {
    display: none;
  }
  .prev,
  .next {
    margin: -22px -30px 0;
  }
  .styleDiv p,
  .styleDiv h4,
  .ebgDesign-col p {
    width: 70%;
  }
  .styleDiv p,
  .styleDiv h4,
  .ebgDesign-col p {
    text-align: center;
  }

  #tools,
  .footerP-col {
    display: flex;
  }

  .swadbrief,
  .swadcompetitor {
    flex-direction: column-reverse;
    height: auto;
  }

  #introduction,
  #tools,
  footer,
  #about,
  .footerP-col,
  .corpStyling,
  .Corpwebsite,
  .screening-row,
  .interview-row,
  #interiorInterviews,
  .ebgDesign-row,
  .ebgWebsite-row,
  .interiorWebRow {
    flex-direction: column;
  }
  .footerP-col:nth-child(1),
  .footerP-col:nth-child(3) {
    margin-left: 25%;
  }
  .footerP-col:nth-child(2) {
    width: 350px;
    margin: auto;
  }
  .footerP-col:nth-child(3) {
    margin-left: 5%;
  }
  form {
    position: relative;
    margin: auto;
    width: 300px;
    bottom: 25px;
    right: 0;
    left: 40px;
  }
  textarea.form-message {
    width: 300px;
  }
  #tools {
    flex-wrap: wrap;
  }

  .footer-img1,
  .footer-img2,
  .mindmap,
  .swaddesktop,
  .swadComp,
  .Nscreening,
  .Ninterview,
  .newBankMap,
  .newgenapp,
  .interiorInterview {
    margin-top: 0;
    width: 300px;
  }
  iframe,
  video {
    width: 300px;
    height: auto;
    margin: auto;
  }
}

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@media (min-width: 741px) and (max-width: 1181px) {
  nav {
    width: 90%;
  }

  ul.nav-ul {
    margin-top: 20px;
  }
  .newgenapp {
    width: 100%;
    margin: auto;
    margin-bottom: 10%;
  }
  .footer-col2 {
    position: relative;
    right: -100px;
  }
  .project-Small {
    bottom: -50px;
    left: 20px;
  }

  .project-p {
    width: 100%;
    margin: 0;
  }

  footer {
    flex-direction: row;
  }
  .footer-col2 {
    width: fit-content;
  }
  .footer-img2 {
    position: absolute;
    right: 0;
    width: 400px;
  }
  form {
    position: relative;
    width: 400px;
    bottom: -300px;
    right: 0;
  }

  form input,
  form button {
    padding: 10px;
    margin: 7px;
  }
  form label {
    padding-left: 2%;
    font-size: small;
  }
  textarea,
  input:focus {
    outline-color: #7e9ac2;
  }

  .form-message {
    padding: 50px;
    width: 388px;
    margin: 7px;
  }
  .projectFooter {
    display: flex;
    height: 20%;
  }
  .corpStyling,
  .Corpwebsite,
  #ebg-design,
  .ebgDesign-row {
    width: 50%;
    margin: auto;
  }
  .styleDiv,
  .CorpwebsiteText,
  .CorpwebsiteImg {
    width: 100%;
  }
  .slideshow-container {
    width: 500px;
  }
  #tools,
  #introduction,
  #about,
  .projectFooter,
  .corpStyling,
  .Corpwebsite,
  .screening-row,
  .interview-row,
  .ebgDesign-row,
  .interiorWebRow {
    flex-direction: column;
  }
  .footerP-col:nth-child(1),
  .footerP-col:nth-child(3) {
    margin-left: 35%;
  }
  .footerP-col:nth-child(2) {
    width: 500px;
  }
  .footerP-col:nth-child(2),
  .corpStyling,
  .ebgDesign-row {
    margin: auto;
  }

  .introImage,
  .introImage2 {
    width: 60%;
    margin: auto;
  }

  .webDesignCol,
  .coloursDiv {
    width: 100%;
    margin: 0;
  }
  .designCol {
    margin: auto;
  }
  .footer-img1,
  .footer-img2 {
    position: relative;
    width: 300px;
  }
  form {
    width: 300px;
    position: relative;
    right: 0;
    bottom: 0;
  }
  textarea.form-message {
    width: 286px;
  }
  .footer-Small {
    display: none;
  }

  .slider__nav {
    margin-bottom: 70px;
  }
  .corporate-text,
  .swad-text,
  .interiorCenter {
    width: 70%;
  }
}
