body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Dosis", sans-serif;
  color: #cdd0db;
}
nav {
  display: flex;
 
}

.header_text{
  padding-top: 15%;
}
.aboutMe{
  text-align: center;
  padding-bottom: 2%;
}
.skills,.projects,.contact{ text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;

}
.container_skills{
  font-family: 'Comfortaa', cursive;
  margin-left:10%;
  color: #c09197;
  margin-bottom: 5%;
}
.socialIcons,.card-link{
 display: flex;
 flex-direction: row;
 justify-content: center;
}
.projects_grid{
  margin: auto;
 width:70%;
}
.bg-img{
  background-image:url("images/yulia-khvorostiana-a-yTvCSeLIw-unsplash.jpg");
  min-height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
  
}
form{
  display:flex;
  flex-direction: column;
  width:50%;
  align-content: center;
  margin:auto;
}